@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
       url('/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Pretendard Bold */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2'),
       url('/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Pretendard Black */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Black.woff2') format('woff2'),
       url('/fonts/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.body-top{
  height: 100vh;
}

input::placeholder {
  color: #AAA;
}
.mb-70{
  margin-bottom: 4.5rem;
}
.mt-100{
  margin-top: 6.25rem;
}
.footer-text {
  color: #B0B0B0;
  font-size: 12px;
  margin-top: 110px;
}
.font-16{
  font-size: 16px;
}
/*header*/
.menu-item{
  position: relative;
}
.menu-item:nth-child(2)::after, 
.menu-item:nth-child(7)::after, 
.menu-item:nth-child(8)::after, 
.menu-item:nth-child(10)::after  {
  content: '';
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: hsl(var(--border));
  z-index: 2;
}

.main-w{
  width: calc(100% - 16rem);
}

/*laylout*/

.toggle-btn{
  width: 18px;
  height: 40px;
  position: absolute;
  right: -18px;
  top: 51px;
  z-index: 5;
}
.tabs-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(var(--border));
  width: 100%;
}
.tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: calc(100% - 70px); 
  width: 100%;
}
.tabs::-webkit-scrollbar {
  height: 8px;
}





/*레이아웃 공통*/

.table-custom{
  width: 100%;
  table-layout: auto;
  border:1px solid hsl(var(--border));
  border-radius: 3px;
  border-collapse: separate;
  border-spacing: 0;
}
.table-custom tr{
  border-bottom: 1px solid hsl(var(--border));
}
.table-custom th{
  background: #F8F8F8;
  text-align: left;
  padding: 3px 15px;
  border-bottom: 1px solid hsl(var(--border));
}
.table-custom td{
  border-bottom: 1px solid hsl(var(--border));
}
.table-custom tr:first-child th:first-child {
  border-top-left-radius: 3px; /* 왼쪽 위 둥글게 */
}

.table-custom tr:first-child td:last-child {
  border-top-right-radius: 3px; /* 오른쪽 위 둥글게 */
}
.table-custom tr:last-child th {
  border-bottom:none;
}
.table-custom tr:last-child th:first-child {
  border-bottom-left-radius: 3px; /* 왼쪽 아래 둥글게 */
}
.table-custom tr:last-child td {
  border-bottom:none;
}
.table-custom tr:last-child td:last-child {
  border-bottom-right-radius: 3px; /* 오른쪽 아래 둥글게 */
}
